/*Imagen de fondo Home*/
.bg-h-style{
    background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(img/bg-h.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

/*Imagen de fondo Contacto*/
.bg-c-style{
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(img/bg-c.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 149.8%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

/*Imagen de fondo Reserva*/
.bg-r-style{
    background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(img/bg-r.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

/*Imagen de fondo Menú*/
.bg-m-style{
    background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(img/bg-m.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 143%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

/*Estilo de la fuente*/
.font-style{
    font-family: 'Roboto';
    color: #000;
}

/*Tamaño y color de navbar*/
.navbar-style{
    opacity: 0.9;
    background-color: #f5f5dc;
    padding: 10px 0;
}

/*Tamaño del logo*/
.logo-style{
    width: 250px; 
}

/*Posición del titulo principal*/
.h1-style{
    margin-left: 125px;
    color: #f5f5dc;
}

/*Posición de contenedor secciones*/
.container-sections-style{
    padding-top: 9%;
}

/*Posición de contenedor Home*/
.container-home-style{
    margin-top: 27.3%;
}

/*Estilo de botones Home*/
.btn-style{
    background-color: #f5f5dc;
    font-weight: bold;
    border-radius: 8px;
    height: 37px;
    width: 110px;
    margin: 0 11.3% 0 11.3%;
}

/*Posición de boton enviar y logo WhatsApp Contacto*/
.input-style, .btnw-style {
    margin-left: 145px;
}

/* Estilo linea separación Menú */
.line-style{
    height: 5px;
    width: 66%;
    margin-left: 17%;
}

/*Posición del container principal Menú*/
.container-reserva-style{
    width: 66%;
    color: #fff;
   
}

/* Estilo de nombre y precio plato Menú*/
.row-style{
    background-color: #f5f5dc;
    color: #000;
    font-weight: bold;
}

/*Estilo de borde descripción plato Menú*/
.row-style2{
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5dc; 
    font-size: 12px;
}