/*Imagen de fondo Home*/
.bg-h-style{
    background-image:linear-gradient(rgba(5,7,12,0.25),rgba(5,7,12,0.25)), url(img/bg-h.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

/*Imagen de fondo Contacto*/
.bg-c-style{
    background:linear-gradient(rgba(5,7,12,0.25),rgba(5,7,12,0.25)), url(img/bg-c.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 179%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

/*Fuente personalizada*/
.font-style{
    color: black;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}

/*Tamaño y color de navbar*/
.navbar-style{
    opacity: 0.9;
    background-color: #f5f5dc;
    padding: 10px 0;
}

/*Tamaño del logo*/
.logo-style{
    width: 250px; 
}

/*Posición de contenedor Home*/
.container-home-style{
    margin-top: 27.3%;
}

/*Estilo de botones Home*/
.btn-style{
    background-color: #f5f5dc;
    border-radius: 8px;
    height: 37px;
    width: 110px;
    margin: 0 11.3% 0 11.3%;
}

/*Posición del container principal Contacto*/
.container-contacto-style{
    padding-top: 6.8%;
}

/*Posición del titulo principal Contacto*/
.h1-style{
    margin-left: 125px;
    color: #f5f5dc;
}

/*Posición de boton enviar y logo WhatsApp Contacto*/
.input-style, .logo-whats-style{
    margin-left: 145px;
}